
/*--This are my styles for my resume */
title {
    color: #33485e;
    font-size: 1.5em;
    font-family: Arial;
    text-transform: uppercase;
}
.container {
    width: 100%
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
/*-- name */
h1 {
    color: #33485e !important;
  font-size: 3em;
  font-family: Arial,;
  text-align: center;
  text-transform: uppercase;
  border: 1px;
  border-color: #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;

}
/*-- sections titles */
h2 {
    color:white; 
  font-size: 1.5em;
  background-color: #33485e;
  font-weight: 400;
  font-family: Arial;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}
/*-- organizations */
h3 {
    font-size: 1.5em;
    font-weight: 600;

}
/*-- job titles */
h4{
    font-size: 1.25em;
    font-weight: 600;
}
/*-- job dates */
h5 {
    font-weight: 400;
    font-size: 1em;
    margin: 10px 0px;
}
/*-- info */
p{
    color: #33485e;
  font-size: 1em;
  background-color: #33485e;
  font-weight: bold;
  font-family: Arial;
  text-align: center; 
}