
/*--This are my styles for my resume */
#title {
    color: #33485e;
    font-size: 1.5em;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: 600px;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
#container-fluid {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom: 50px;
}

/*-- sections titles */
#sectionheader {
    color:#33485e; 
  font-size: 1.5em;
  font-weight: 400;
  font-family: Arial;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}
.exp1 {
    border: 20px;
    border-style: solid;
    border-color: #33485e;

}
.exp2 {
    border: 20px;
    border-style: solid;
    border-color: #33485e;
}
.exp3 {
    border: 20px;
    border-style: solid;
    border-color: #33485e;
} 
.edu {
    border: 20px;
    border-style: solid;
    border-color: #33485e;  
}
.skill {
    border: 20px;
    border-style: solid;
    border-color: #33485e;  
}
/*-- organizations */
.jobtitles {
    font-size: 1.5em;
    font-weight: 600;

}
/*-- job titles */
.organization {
    font-size: 1.25em;
    font-weight: 600;
}
/*-- job dates */
.date {
    font-weight: 400;
    font-size: 1em;
    margin: 2px 0px;
}
/*-- info */
.description {
  font-size: 1em;
  color: #33485e;
  font-weight: bold;
  font-family: Arial;
  text-align: left; 
  margin: 10px 0px 0px 0px;
}

.menu {
    display: inline;
    text-align: right;
    margin: 0px;
    padding: 0px;
}
#degrees{
    margin: 5px 0px 0px 0px;
}
#do {
    margin: 5px 0px 0px 0px;
}
.top{
 width: 60%;
 min-width: 300px;  
 margin: 0px auto; 
 margin-bottom: 30px;
}