
/*--This are my styles for my resume */
title {
    color: #33485e;
    font-size: 1.5em;
    font-family: Arial;
    text-transform: uppercase;
}
/*-- name */
h1 {
    color: #33485e !important;
  font-size: 3em;
  font-family: Arial,;
  text-align: center;
  text-transform: uppercase;
}
/*-- sections titles */
h2 {
    color: #33485e; 
  font-size: 1.5em;
  background-color: #33485e;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  text-transform: uppercase;
}
/*-- organizations */
h3 {
    font-size: 1.5em;


}
/*-- job titles */
h4{

}
/*-- info */
p{
    color: #33485e;
  font-size: 1em;
  background-color: #33485e;
  font-weight: bold;
  font-family: Arial;
  text-align: center; 
}