<!--headerstyles-->
h1 {
    font: serif;
    font-size: 40px;
}
h2 {
    font: serif;
    font-size: 30px;
}
<!--bodystyles-->
p {
    font: helvetica, arial, sans-serif;
    font-size: 15px;
}
#content {
    text-align: center;
}
blockquote {
    font: 16px/24px helvetica, sans-serif;
 font-style: italic;
 margin-top: 15px;
 margin-bottom: 15px;
 color: red;
 margin-left: 50px;
 padding-left: 15px;
 border-left: 4px solid #ccc;
 }     
img {
    max-width: 100%;
}